// =============================================================================
// CHECKOUT HEADER (Component)
// =============================================================================

.checkoutHeader {
       white-space: nowrap !important;
    background-color: container("fill", "dark");
    border-bottom: container("border");
    text-align: center;
 

    @include breakpoint("small") {
        min-height: remCalc(120px);
    }

    @include breakpoint("medium") {
        text-align: left;
    }
}

.checkoutHeader-content {
       white-space: nowrap !important;
    @include grid-row;

    padding: spacing("single");

    @include breakpoint("small") {
        padding: spacing("double");
    }
}

.checkoutHeader-heading {
   white-space: nowrap !important;
    @include headingStyle("h1");

    color: inherit;
    margin-bottom: 0;
    word-wrap: break-word;
       white-space: nowrap !important;
}
