@import "../ui/Base";

.checkout-address:has(.floating-form-field) {
    margin-left: -0.5 * $floating-form-field-spacing;
    margin-right: -0.5 * $floating-form-field-spacing;
}

.optimizedCheckout-form-input{
    background-color:#f7f7f7 !important;
}

.optimizedCheckout-form-select{
    background-color:#f7f7f7 !important;
}

.checkout-address {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1 * spacing("half");
    margin-right: -1 * spacing("half");

    .dynamic-form-addressState,
    .dynamic-form-field {
        display: block;
        flex: 1;
        flex-basis: 100%;
        margin-bottom: spacing("half");
        max-width: 100%;
        padding: 0 spacing("half");

        &:last-child {
            margin-bottom: 0;
        }
    }

    .dynamic-form-field.floating-form-field {
        margin-bottom: $floating-form-field-spacing;
        padding: 0 0.5 * $floating-form-field-spacing;
    }

    .dynamic-form-field--province,
    .dynamic-form-field--provinceCode,
    .dynamic-form-field--firstName,
    .dynamic-form-field--lastName,
    .dynamic-form-field--phone,
    .dynamic-form-field--city {
        @include breakpoint("small") {
            flex-basis: 50%;
        }
    }

    // address2 → 70%
    .dynamic-form-field--addres2,
    .dynamic-form-field--addressLine2 {
        @include breakpoint("small") {
            flex-basis: 70%;
        }
    }

    // postalcode → 30%
    .dynamic-form-field--postCode,
    .dynamic-form-field--postalCode,
    .dynamic-form-field--zip {
        @include breakpoint("small") {
            flex-basis: 30%;
        }
    }


    // Ragione sociale (company) + Partita IVA (field_31) → 50 / 50
    .dynamic-form-field--company,
    .dynamic-form-field--field_31 {
        @include breakpoint("small") {
            flex-basis: 50%;
        }
    }

    // PEC (field_33) + Codice SDI (field_35) → 50 / 50
    .dynamic-form-field--field_33,
    .dynamic-form-field--field_35 {
        @include breakpoint("small") {
            flex-basis: 50%;
        }
    }
}



.invoice-section {
  background-color: transparent;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    // Rimuove il margine inferiore dell'ultimo campo all'interno della sezione
    // per una migliore spaziatura interna.
    .form-field:last-child {
        margin-bottom: 0;
    }
}
